@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply text-white;
    }

    /* customize buttons */
        [data-theme="mytheme"] .btn {
            @apply text-[#ffffff] px-6 normal-case font-nunito font-medium;
        }

        [data-theme="mytheme"] .btn-outline:hover {
            color: #ffffff !important;
        }

        [data-theme="mytheme"] .btn-secondary:hover {
            @apply bg-secondary/90;
        }

    /* customize text */
        [data-theme="mytheme"] .link {
            @apply text-[#ffffff];
        }

    /* customize layouts */
        [data-theme="mytheme"] .hero {
            @apply bg-base-100;
        }
}

@layer utilities {
    /* position */
    .center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .y-center {
        top: 50%;
        transform: translateY(-50%);
    }
    .x-center {
        left: 50%;
        transform: translateX(-50%);
    }

    /* direction */
    .rtl {
        direction: rtl;
    }
    .ltr {
        direction: ltr;
    }
}
